@{
    ViewBag.Title = "积分商城";
    Layout = "~/Views/Shared/_Main.cshtml";
}
<div class="jfsc_content">
    <img src="~/Content/img/Integral_01.jpg" width="850" height="350" class="integral">
    <div class="integral_right">
        <input type="submit" value="登录" class="login_btn">
        <input type="submit" value="免费注册" class="register_btn">
        <img src="~/Content/img/Integral_02.jpg">
    </div>
    <div style="clear:both;"></div>
</div>



