@{
    ViewBag.Title = "行途旅游网";
    Layout = "~/Views/Shared/_main.cshtml";
}

<style id="diy_style" type="text/css">
    #frameZT8q88 {
        border: #000000 0px !important;
    }
</style>
<div class="foucts-img clearfix">
    <!--=S 头图 -->
    <div class="bdBannerWrap">
        <div id="bdSlide" class="bdBannerBg">
            <div class="bdSlideBox">
                <ul class="bdSlideCon">

                    <li><a href="#" target="_blank" title=""><img class="img1920" src="~/Content/img/banner.jpg" alt="" /></a></li>

                    <li><a href="#" target="_blank" title=""><img class="img1920" src="~/Content/img/banner_02.jpg" alt="" /></a></li>

                    <li><a href="#" target="_blank" title=""><img class="img1920" src="~/Content/img/banner_03.jpg" alt="" /></a></li>

                </ul>
            </div>
            <div class="bdSlideNav">
                <div class="bdBanCtrla"><b class="on"></b><b></b><b></b></div>

            </div>
        </div>
    </div>

</div>


<div class="main">
    <div class="main-cont">
        <!-- 通栏广告star -->
        <div class="ads_one clearfix">
            <div class="ad1 fl">
                <!-- 广告位：NEW首页S-2 -->
                <div id="ad1"><img src="~/Content/img/zw.jpg" width="420" height="80"></div>

            </div>
            <div class="ad2 fl">
                <!-- 广告位：NEW首页S-3 -->
                <div id="ad2"><img src="~/Content/img/zw.jpg" width="431" height="80"></div>

            </div>
            <div class="ad3 fl">
                <!-- 广告位：NEW首页S-4 -->
                <div id="ad3"><img src="~/Content/img/zw.jpg" width="279" height="80"></div>

            </div>
        </div>
        <!-- 通栏广告end -->


        <div class="hot-block">
            <div style="height: 48px;">
                <h2 class="first_h2"><span>精选推荐</span></h2>
                <h2 class="second_h2"><span>会员分享</span></h2>
            </div>

            <div class="hot-cont clearfix">
                <div class="hcont-l fl">
                    <div class="headline_area">

                        <a target="_blank" href="#">
                            <h3>尊享桂林六日精品游</h3>
                            <span>专人专车接站，欣赏北纬26 °最宜人的喀斯特山水风光</span>
                        </a>

                        <a target="_blank" href="#">
                            <h3>尊贵绿宝石：黄果树瀑布、西江千户苗寨</h3>
                            <span>黄果树 天星桥 荔波古镇 多彩贵州风双飞五</span>
                        </a>

                        <a target="_blank" href="#">
                            <h3>直辉丽江 大理双飞5日游</h3>
                            <span>丽江诱惑，美到极致，神圣雪域，不去怎么来体验？</span>
                        </a>

                    </div>
                    <div class="top1 clearfix">

                        <a href="#" target="_blank" title="待处理…">
                            <div class="top1-l fl">

                                <img src="~/Content/img/zw.jpg" width="180" height="100" alt="待处理…" />

                            </div>
                            <div class="top1-r fl">
                                <p class="beifang">待处理…</p>
                                <p class="reason">待处理…</p>
                            </div>
                        </a>

                    </div>

                    <ul class="top2 clearfix">

                        <li>
                            <a href="#" target="_blank" title="">
                                <img src="~/Content/img/zw.jpg" width="180" height="100" alt="待处理…" />
                                <p class="notetit">待处理…</p>
                            </a>
                        </li>

                        <li>
                            <a href="#" target="_blank" title="">
                                <img src="~/Content/img/zw.jpg" width="180" height="100" alt="待处理…" />
                                <p class="notetit">待处理…</p>
                            </a>
                        </li>

                    </ul>

                </div>
                <div class="hcont-m fl">
                    <ul class="hcont-mul">
                        <li>
                            <a href="#" target="_blank" title="哪些地方适合一个人旅行——阿雅">
                                <img src="~/Content/images/fx1.jpg" width="218" height="200">
                                <p class="notetit">哪些地方适合一个人旅行——阿雅</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank" title="半月掩海，夜泊洱海——爱自由">
                                <img src="~/Content/images/fx2.jpg" width="218" height="200">
                                <p class="notetit">半月掩海，夜泊洱海——爱自由</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank" title="黔东南，你不知道的贵州之美——绽放">
                                <img src="~/Content/images/fx3.jpg" width="218" height="200">
                                <p class="notetit">你不知道的贵州之美——绽放</p>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank" title="带孩子来大连，看海玩水——叮当妈">
                                <img src="~/Content/images/fx4.jpg" width="218" height="200">
                                <p class="notetit">带孩子来大连，看海玩水——叮当妈</p>
                            </a>
                        </li>

                    </ul>


                </div>
                <div class="hcont-r fl">
                    <div class="g3 fr">
                        <div class="zhuban">
                            <a href="#"><span>游记攻略</span></a>
                            <ul class="kindlink clearfix">
                                <li><a href="#">待处理信息...</a></li>
                                <li><a href="#">待处理信息...</a></li>
                                <li><a href="#">待处理信息...</a></li>
                                <li><a href="#">待处理信息...</a></li>
                                <li><a href="#">待处理信息...</a></li>
                                <li><a href="#">待处理信息...</a></li>
                                <li><a href="#">待处理信息...</a></li>



                            </ul>





                        </div>
                        <div class="ad5 clearfix">
                            <a href="#" target="_blank" title="申请俱乐部"><img src="~/Content/img/20160713170952.png" alt="申请俱乐部" /></a>

                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="adment">

            <!-- 广告位：NEW 首页S-5. -->
            <div id="ad5" class="fl twoads"><img src="~/Content/img/zw.jpg" width="575" height="80"></div>
            <iframe width="575" height="80" frameborder="0" allowtransparency="true" marginwidth="0" marginheight="0" scrolling="no" frameborder="No" border="0" src="~/Content/img/zw_02.jpg"></iframe>

        </div>

        <div class="hot-block" id="nava1">
            <h2>
                <a class="fr" href="#" target="_blank" title="">更多&gt;&gt;</a>
                <ul class="tab-ul clearfix fl">
                    <li class="cur">当季热门</li>
                    <li>精品活动</li>
                    <li>推荐旅行</li>
                </ul>
            </h2>

            <div class="lvyetab-cont clearfix">
                <div class="lvyetab-l fl">
                    <div class="sametab sametabcur">
                        <ul class="clearfix">

                            <li>
                                <div class="cimg">
                                    <a href="#" title="心泊青海  塔尔寺 茶卡盐湖 青海湖 祁连 门源 双卧七日游 "><img src="~/Content/images/xl1.jpg" width="280" height="157"></a>

                                </div>

                                <div class="ccont">
                                    <p class="ctit"><a href="#" target="_blank" title="心泊青海  塔尔寺 茶卡盐湖 青海湖 祁连 门源 双卧七日游 ">心泊青海  塔尔寺 茶卡盐湖 青海湖 祁连 门源 双卧七日游 </a></p>
                                    <p class="price"><a href="#" target="_blank" title="懒人。" class="fr">懒人。</a><span class="fl">¥<em>2800</em><i>起</i></span></p>
                                </div>
                            </li>

                            <li>
                                <div class="cimg">
                                    <a href="#" target="_blank" title="爱上伊犁草原风 火洲吐鲁番 赛里木湖 喀拉峻 库尔德宁 那拉提草原 双卧10日"><img src="~/Content/images/xl2.jpg" width="280" height="157" alt="爱上伊犁草原风 火洲吐鲁番 赛里木湖 喀拉峻 库尔德宁 那拉提草原 双卧10日" /></a>

                                </div>
                                <div class="ccont">
                                    <p class="ctit"><a href="#" target="_blank" title="爱上伊犁草原风 火洲吐鲁番 赛里木湖 喀拉峻 库尔德宁 那拉提草原 双卧10日">爱上伊犁草原风 火洲吐鲁番 赛里木湖 喀拉峻 库尔德宁 那拉提草原 双卧10日</a></p>
                                    <p class="price"><a href="#" target="_blank" title="红色侦察兵 " class="fr">红色侦察兵 </a><span class="fl">¥<em>350</em><i>起</i></span></p>
                                </div>
                            </li>

                            <li>
                                <div class="cimg">
                                    <a href="#" target="_blank" title="邂逅甘青情 大美青海 塔尔寺 青海湖 茶卡盐湖 多彩甘肃 "><img src="~/Content/images/xl3.jpg" width="280" height="157" alt="邂逅甘青情 大美青海 塔尔寺 青海湖 茶卡盐湖 多彩甘肃 " /></a>

                                </div>
                                <div class="ccont">
                                    <p class="ctit"><a href="#" target="_blank" title="邂逅甘青情 大美青海 塔尔寺 青海湖 茶卡盐湖 多彩甘肃 ">邂逅甘青情 大美青海 塔尔寺 青海湖 茶卡盐湖 多彩甘肃 </a></p>
                                    <p class="price"><a href="#" target="_blank" title="条条框框" class="fr">条条框框</a><span class="fl">¥<em>3380</em><i>起</i></span></p>
                                </div>
                            </li>

                            <li>
                                <div class="cimg">
                                    <a href="#" target="_blank" title="吉林、魔界风景区、长白山西北双坡连游、双卧5日"><img src="~/Content/images/xl4.jpg" width="280" height="157" alt="吉林、魔界风景区、长白山西北双坡连游、双卧5日" /></a>

                                </div>
                                <div class="ccont">
                                    <p class="ctit"><a href="#" target="_blank" title="吉林、魔界风景区、长白山西北双坡连游、双卧5日">吉林、魔界风景区、长白山西北双坡连游、双卧5日</a></p>
                                    <p class="price"><a href="#" target="_blank" title=" 小熊~" class="fr"> 小熊~</a><span class="fl">¥<em>680</em><i>起</i></span></p>
                                </div>
                            </li>

                            <li>
                                <div class="cimg">
                                    <a href="#" target="_blank" title="《狼图腾》《万物生长》拍摄地自驾6日游"><img src="~/Content/images/xl5.jpg" width="280" height="157" alt="《狼图腾》《万物生长》拍摄地自驾6日游" /></a>

                                </div>
                                <div class="ccont">
                                    <p class="ctit"><a href="#" target="_blank" title="《狼图腾》《万物生长》拍摄地自驾6日游">《狼图腾》《万物生长》拍摄地自驾6日游</a></p>
                                    <p class="price"><a href="#" target="_blank" title="赵世和" class="fr">赵世和</a><span class="fl">¥<em>260</em><i>起</i></span></p>
                                </div>
                            </li>

                            <li>
                                <div class="cimg">
                                    <a href="#" target="_blank" title="白洋淀休闲游荷花大观园"><img src="~/Content/images/xl6.jpg" width="280" height="157" alt="白洋淀休闲游荷花大观园" /></a>

                                </div>
                                <div class="ccont">
                                    <p class="ctit"><a href="#" target="_blank" title="白洋淀休闲游荷花大观园">白洋淀休闲游荷花大观园</a></p>
                                    <p class="price"><a href="#" target="_blank" title="红色侦察兵 " class="fr">红色侦察兵 </a><span class="fl">¥<em>350</em><i>起</i></span></p>
                                </div>
                            </li>

                        </ul>
                    </div>
                    <div class="sametab">
                        <ul class="clearfix">

                            <li>
                                <div class="cimg">
                                    <a href="#" target="_blank" title="古北水镇,一个能满足“北方游客看水镇，南方游客登长城”的美丽的地方"><img src="~/Content/images/xl7.jpg" width="280" height="157" alt="古北水镇,一个能满足“北方游客看水镇，南方游客登长城”的美丽的地方" /></a>

                                </div>
                                <div class="ccont">
                                    <p class="ctit"><a href="#" target="_blank" title="古北水镇,一个能满足“北方游客看水镇，南方游客登长城”的美丽的地方">古北水镇,一个能满足“北方游客看水镇，南方游客登长城”的美丽的地方</a></p>
                                    <p class="price"><a href="#" target="_blank" title="探索者.大斌" class="fr">探索者.大斌</a><span class="fl">¥<em>4800</em><i>起</i></span></p>
                                </div>
                            </li>

                            <li>
                                <div class="cimg">
                                    <a href="#" target="_blank" title="塞上江南 银川 沙坡头 沙湖 影视城 贺兰山岩画风情盛览双卧4日游"><img src="~/Content/images/xl8.jpg" width="280" height="157" alt="塞上江南 银川 沙坡头 沙湖 影视城 贺兰山岩画风情盛览双卧4日游" /></a>

                                </div>
                                <div class="ccont">
                                    <p class="ctit"><a href="#" target="_blank" title="塞上江南 银川 沙坡头 沙湖 影视城 贺兰山岩画风情盛览双卧4日游">塞上江南 银川 沙坡头 沙湖 影视城 贺兰山岩画风情盛览双卧4日游</a></p>
                                    <p class="price"><a href="#" target="_blank" title="星瑀" class="fr">星瑀</a><span class="fl">¥<em>3380</em><i>起</i></span></p>
                                </div>
                            </li>

                            <li>
                                <div class="cimg">
                                    <a href="#" target="_blank" title="直辉丽江 大理双飞5日游"><img src="~/Content/images/xl9.jpg" width="280" height="157" alt="直辉丽江 大理双飞5日游" /></a>

                                </div>
                                <div class="ccont">
                                    <p class="ctit"><a href="#" target="_blank" title="直辉丽江 大理双飞5日游">直辉丽江 大理双飞5日游</a></p>
                                    <p class="price"><a href="#" target="_blank" title="妮可儿" class="fr">妮可儿</a><span class="fl">¥<em>380</em><i>起</i></span></p>
                                </div>
                            </li>

                            <li>
                                <div class="cimg">
                                    <a href="#" target="_blank" title="尊贵绿宝石：黄果树瀑布、荔波大小七孔、苗妹、下司古镇、荔波古镇、西江千户苗寨"><img src="~/Content/images/xl10.jpg" width="280" height="157" alt="尊贵绿宝石：黄果树瀑布、荔波大小七孔、苗妹、下司古镇、荔波古镇、西江千户苗寨" /></a>

                                </div>
                                <div class="ccont">
                                    <p class="ctit"><a href="#" target="_blank" title="尊贵绿宝石：黄果树瀑布、荔波大小七孔、苗妹、下司古镇、荔波古镇、西江千户苗寨°">尊贵绿宝石：黄果树瀑布、荔波大小七孔、苗妹、下司古镇、荔波古镇、西江千户苗寨</a></p>
                                    <p class="price"><a href="#" target="_blank" title="懒人。" class="fr">懒人。</a><span class="fl">¥<em>6800</em><i>起</i></span></p>
                                </div>
                            </li>

                            <li>
                                <div class="cimg">
                                    <a href="#" target="_blank" title="尊享桂林六日精品游"><img src="~/Content/images/xl11.jpg" width="280" height="157" alt="尊享桂林六日精品游" /></a>

                                </div>
                                <div class="ccont">
                                    <p class="ctit"><a href="#" target="_blank" title="尊享桂林六日精品游">尊享桂林六日精品游</a></p>
                                    <p class="price"><a href="#" target="_blank" title="桃源户外1 " class="fr">桃源户外1 </a><span class="fl">¥<em>1298</em><i>起</i></span></p>
                                </div>
                            </li>

                            <li>
                                <div class="cimg">
                                    <a href="#" target="_blank" title="待处理信息..."><img src="~/Content/img/zw.jpg" width="280" height="157" alt="待处理信息..." /></a>

                                </div>
                                <div class="ccont">
                                    <p class="ctit"><a href="#" target="_blank" title="待处理信息...">待处理信息...</a></p>
                                    <p class="price"><a href="#" target="_blank" title="待处理信息..." class="fr">行途自营</a><span class="fl">¥<em>2880</em><i>起</i></span></p>
                                </div>
                            </li>

                        </ul>
                    </div>


                    <div class="sametab">
                        <ul class="clearfix">

                            <li>
                                <div class="cimg">
                                    <a href="#" target="_blank" title="待处理信息..."><img src="~/Content/img/zw.jpg" width="280" height="157" alt="待处理信息..." /></a>

                                </div>
                                <div class="ccont">
                                    <p class="ctit"><a href="#" target="_blank" title="待处理信息..."> 待处理信息...</a></p>
                                    <p class="price"><a href="#" target="_blank" title="星瑀" class="fr">行途自营</a><span class="fl">¥<em>4800</em><i>起</i></span></p>
                                </div>
                            </li>

                            <li>
                                <div class="cimg">
                                    <a href="#" target="_blank" title="待处理信息..."><img src="~/Content/img/zw.jpg" width="280" height="157" alt="待处理信息..." /></a>

                                </div>
                                <div class="ccont">
                                    <p class="ctit"><a href="#" target="_blank" title="待处理信息...">待处理信息...</a></p>
                                    <p class="price"><a href="#" target="_blank" title="醉牛旅行" class="fr">行途自营</a><span class="fl">¥<em>2800</em><i>起</i></span></p>
                                </div>
                            </li>

                            <li>
                                <div class="cimg">
                                    <a href="#" target="_blank" title="待处理信息..."><img src="~/Content/img/zw.jpg" width="280" height="157" alt="待处理信息..." /></a>

                                </div>
                                <div class="ccont">
                                    <p class="ctit"><a href="#" target="_blank" title="待处理信息...">待处理信息...</a></p>
                                    <p class="price"><a href="#" target="_blank" title="绿野自营" class="fr">行途自营</a><span class="fl">¥<em>300</em><i>起</i></span></p>
                                </div>
                            </li>

                            <li>
                                <div class="cimg">
                                    <a href="#" target="_blank" title="待处理信息..."><img src="~/Content/img/zw.jpg" width="280" height="157" alt="待处理信息..." /></a>

                                </div>
                                <div class="ccont">
                                    <p class="ctit"><a href="#" target="_blank" title="待处理信息...">待处理信息...</a></p>
                                    <p class="price"><a href="#" target="_blank" title="行途自营" class="fr">行途自营</a><span class="fl">¥<em>2173</em><i>起</i></span></p>
                                </div>
                            </li>

                            <li>
                                <div class="cimg">
                                    <a href="#" target="_blank" title="待处理信息..."><img src="~/Content/img/zw.jpg" width="280" height="157" alt="待处理信息..." /></a>

                                </div>
                                <div class="ccont">
                                    <p class="ctit"><a href="#" target="_blank" title="待处理信息...">待处理信息...</a></p>
                                    <p class="price"><a href="#" target="_blank" title="行途自营" class="fr">行途自营</a><span class="fl">¥<em>650</em><i>起</i></span></p>
                                </div>
                            </li>

                            <li>
                                <div class="cimg">
                                    <a href="#" target="_blank" title="待处理信息..."><img src="~/Content/img/zw.jpg" width="280" height="157" alt="待处理信息..." /></a>

                                </div>
                                <div class="ccont">
                                    <p class="ctit"><a href="#" target="_blank" title="待处理信息...">待处理信息...</a></p>
                                    <p class="price"><a href="#" target="_blank" title="行途自营" class="fr">行途自营</a><span class="fl">¥<em>120</em><i>起</i></span></p>
                                </div>
                            </li>

                        </ul>
                    </div>



                </div>
                <div class="lvyetab-r fr">
                    <div class="tuijian-r">

                        <a href="#" target="_blank" title="【桃源户外】7.16科尔沁草原、阿尔山、呼伦贝尔草原全景9日游">
                            <img src="http://static03.lvye.com/lvyecms/media/homepagecms/20166/1466148673.4.jpg" width="280" height="330" alt="【桃源户外】7.16科尔沁草原、阿尔山、呼伦贝尔草原全景9日游" />
                            <p>
                                爱上伊犁草原风 火洲吐鲁番 赛里木湖 喀拉峻 
                                <span>热门推荐</span>
                            </p>
                        </a>

                    </div>

                    <p class="btnalink">
                        <a class="a1" href="#" target="_blank" title="">发布攻略</a>
                        <a class="a2" href="#" target="_blank" title="">我是会员</a>
                    </p>
                </div>

            </div>

        </div>


    </div>
</div>