@{
    ViewBag.Title = "会员分享";
    Layout = "~/Views/Shared/_Main.cshtml";
}
@Scripts.Render("~/bundles/jquery")
<div class="bdBannerWrap">
    <img src="~/Content/img/banner_04.jpg" width="100%">
</div>
<div class="hdfx_content">
    <h2><span>热门分享</span><a href="#"><button><img src="~/Content/img/icon_01.png"><b>我要分享</b></button></a></h2>
    <ul class="share_content">
        <li>
            <a href="#">
                <img src="~/Content/img/share_01.jpg"><div class="share_cont">
                    <h3>KIA ORA , 新西兰</h3><p>新西兰在我记忆里第一次留下印痕，那还是在上个世纪九十年代初的一个夏日午后，我在父亲满满的书柜里翻出一本有些单薄的小说——《英儿》，那时的我未必能真的读懂每一段文字背后讲述的故事，但是这本书却让我认识了那个“童话诗人”顾城，也知道了远方那个被毛利人称之为“白云之乡”的新西兰。几年后，在朋友的带领下，喜欢上登山，也知晓那个远在南半球的新西兰养...</p>
                    <div class="share_icon"><span>新西兰</span> , by<b><img src="~/Content/img/icon_03.png">諵譁</b><i>5057/32</i></div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="~/Content/img/share_02.jpg"><div class="share_cont">
                    <h3>欧洲希意法西25日 | 建筑师的朝圣之路（含650张...</h3><p>大概一年前有了去冰岛的念头，觉得这个北大西洋岛国神奇而有大美。作为一个对旅行这事儿还算有行动力的人，2015年6月，在这个岛国的环岛之旅就按照期望的那样，在日不落的季节里，开始了。冰岛有句话，If you don't like the weather, just wait 15 minutes. 冰岛的天气该是比上海的六月天更像孩子的脸吧。但是，我们在冰岛的8天里，加起来只有一天是阴雨，剩下的日子都是标准的大晴天。回头想来，真算的上是极其幸运了。</p>
                    <div class="share_icon"><span>欧洲</span> , by<b><img src="~/Content/img/icon_05.png">如果你说有风</b><i>10205/151</i></div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="~/Content/img/share_03.jpg"><div class="share_cont">
                    <h3>感受星月之国十二天里的每一分每一秒</h3><p>新西兰在我记忆里第一次留下印痕，那还是在上个世纪九十年代初的一个夏日午后，我在父亲满满的书柜里翻出一本有些单薄的小说——《英儿》，那时的我未必能真的读懂每一段文字背后讲述的故事，但是这本书却让我认识了那个“童话诗人”顾城，也知道了远方那个被毛利人称之为“白云之乡”的新西兰。几年后，在朋友的带领下，喜欢上登山，也知晓那个远在南半球的新西兰养...</p>
                    <div class="share_icon"><span>土耳其</span> , by<b><img src="~/Content/img/icon_06.png">不慌不忙的Nana</b><i>21559/296</i></div>
                </div>
            </a>
        </li>

        <li>
            <a href="#">
                <img src="~/Content/img/share_04.jpg"><div class="share_cont">
                    <h3>KIA ORA , 新西兰</h3><p>新西兰在我记忆里第一次留下印痕，那还是在上个世纪九十年代初的一个夏日午后，我在父亲满满的书柜里翻出一本有些单薄的小说——《英儿》，那时的我未必能真的读懂每一段文字背后讲述的故事，但是这本书却让我认识了那个“童话诗人”顾城，也知道了远方那个被毛利人称之为“白云之乡”的新西兰。几年后，在朋友的带领下，喜欢上登山，也知晓那个远在南半球的新西兰养...</p>
                    <div class="share_icon"><span>新西兰</span> , by<b><img src="~/Content/img/icon_03.png">諵譁</b><i>5057/32</i></div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="~/Content/img/share_05.jpg"><div class="share_cont">
                    <h3>欧洲希意法西25日 | 建筑师的朝圣之路（含650张...</h3><p>大概一年前有了去冰岛的念头，觉得这个北大西洋岛国神奇而有大美。作为一个对旅行这事儿还算有行动力的人，2015年6月，在这个岛国的环岛之旅就按照期望的那样，在日不落的季节里，开始了。冰岛有句话，If you don't like the weather, just wait 15 minutes. 冰岛的天气该是比上海的六月天更像孩子的脸吧。但是，我们在冰岛的8天里，加起来只有一天是阴雨，剩下的日子都是标准的大晴天。回头想来，真算的上是极其幸运了。</p>
                    <div class="share_icon"><span>欧洲</span> , by<b><img src="~/Content/img/icon_05.png">如果你说有风</b><i>10205/151</i></div>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="~/Content/img/share_06.jpg"><div class="share_cont">
                    <h3>感受星月之国十二天里的每一分每一秒</h3><p>新西兰在我记忆里第一次留下印痕，那还是在上个世纪九十年代初的一个夏日午后，我在父亲满满的书柜里翻出一本有些单薄的小说——《英儿》，那时的我未必能真的读懂每一段文字背后讲述的故事，但是这本书却让我认识了那个“童话诗人”顾城，也知道了远方那个被毛利人称之为“白云之乡”的新西兰。几年后，在朋友的带领下，喜欢上登山，也知晓那个远在南半球的新西兰养...</p>
                    <div class="share_icon"><span>土耳其</span> , by<b><img src="~/Content/img/icon_06.png">不慌不忙的Nana</b><i>21559/296</i></div>
                </div>
            </a>
        </li>
    </ul>

    <ul class="fy">
        <li><a href="#" style="background:none; color:#666666;">共83页/990条</a></li>
        <li class="fy_on"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">7</a></li>
        <li><a href="#">8</a></li>
        <li><a href="#">9</a></li>
        <li class="fy_on"><a href="#">下一页&gt;&gt;</a></li>
    </ul>

</div>



