@{
    ViewBag.Title = "联系我们";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<div class="bdBannerWrap">
    <img src="~/Content/img/banner_04.jpg" width="100%">
</div>
<div class="lxwm_content">
    <h1>联系我们</h1>
    <div class="lxwm_left">
        <h4><img src="~/Content/img/icon_07.png">客户服务</h4>
        <p>
            在这里我们会为您解决使用过程中遇到的所有疑问。<br>
            服务时间：周一到周五8：30-20：30 周六到周日9：00-17：00<br>
            客服电话：<b>400-000-0000</b><br>
            在线QQ：<img src="~/Content/img/qq.jpg"><br>
            客服邮箱：<b>010101@0101.com</b><br>
            QQ群号：<span>12345678 </span>vip会员交流群<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>12345678 </span><i>vip会员交流群</i><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>12345678 </span><i>vip会员交流群</i><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>12345678 </span><i>vip会员交流群</i><br>
        </p>
        <h4><img src="~/Content/img/icon_08.png">商务合作</h4>
        <p>
            如果贵公司与行途游优势互补，并有合作意向，请简要描述合作需求并<br>发送邮件至<span>xingtu@xingtu.com</span>，工作人员会尽快与您联系。
        </p>
        <h4><img src="~/Content/img/icon_09.png">媒体合作</h4>
        <p>
            如果您希望与我们进行媒体、展会、论坛会议合作，或有采访需求，请发<br>送邮件至<span>xingtu@xingtu.com</span> 工作人员会尽快与您联系。
        </p>
    </div>
    <div class="lxwm_right">
        <h4><img src="~/Content/img/icon_010.png">联系方式</h4>
        <img src="~/Content/img/map.jpg" width="585" height="169" style="margin:12px 0 5px;">
        <p>
            地址：北京市东城区崇文门宝鼎大厦A座745<br>
            邮编：10000
        </p>
        <span style="margin-right:13px;">
            <img src="~/Content/img/two-dimension code.jpg">
            <b>扫码关注微信公众号</b>
        </span>
        <span>
            <img src="~/Content/img/two-dimension code.jpg">
            <b>扫码关注微信公众号</b>
        </span>
    </div>
    <div style="clear:both;"></div>
</div>


