@charset "utf-8";
/* CSS Document */
/* header top module begin */
/* -------------------------------------------------------------------------- */

/*#newnavi a{
    color:#445250;
}*/
/* simple header styles */
.topnavdrop .lm {
	float: left;
	display: block;
	clear: both;
}
.topnavdrop .mline {
	width: 98%;
	clear: both;
	display: block;
	border-bottom: 1px dotted #dcdcdc;
	margin: 5px 0 5px 0;
	float: left;
}
.topnavdrop .lm h5 {
	color: #595757;
	font-family: 'stheiti';
	font-size: 12px;
	font-weight: bold;
	margin-left: 5px;
}
.navdrop {
	position: absolute;
	top: 40px;
	min-width: 128px;
	font-size: 14px;
	background-color: #F0F0F0;
	border: 1px solid #44AAFF;
	border-top: none;
	display: none;
	left: 0;
	z-index: 9999;
}
.weichattxt {
	text-align: center;
	float: left;
	margin: 40px 0 0 20px;
}
body {
	color: #666;
	font-family: 'Microsoft Yahei','simsun';
	font-size: 12px;
	background: #fff;
}
a:l.mainnavink {
	color: #595757;
}
a:hover {
	color: #48B36F;
	text-decoration: none;
}
input:focus {
	outline: none;
}
.nomr {
	margin-right: 0!important;
}
.nomb {
	margin-bottom: 0!important;
}
.sinalogin, .qqlogin, .submitbtn,.lvyehd, .lvyeld, .lvyeski, .lvye6f {
	background-image: url(../img/whole_sprite.png)!important;
	_background-image: url(../img/whole_sprite.gif)!important;
	background-repeat: no-repeat!important;
}
.icons{
	background-image: url(../img/footer_sprite.png)!important;
}
.header {
	min-width:1200px;
}
.topbar {
	background-color: #fafafa;
	height: 28px;
	font-size: 13px;
	border-bottom:1px solid #f1f1f1;
}
.inner-topbar, .inner-mheader{
	width: 1170px;
	margin: 0 auto;
}
.topbar .gotocom{
	float: left;
	color: #3cb43c;
	line-height:28px;
}
.loginout {
	float: right;
	line-height: 28px;
	margin-left: 15px;
}
.sinalogin, .qqlogin {
	height: 18px;
	width: 24px;
	display: block;
	float: left;
	margin: 3px 10px 0 0;
}
.sinalogin {
	background-position: -140px -150px;
}
.qqlogin {
	background-position: -140px -120px;
}
.spacer {
	color: #666;
	padding: 0 10px;
}
.topnav {
	line-height: 28px;
	float: right;
}
.identity {
	background-position: 0 6px!important;
	padding: 0 15px 0 20px!important;
	float: left;
	font-size: 12px!important;
	zoom: 1;
}
.topdropdown {
	display: none;
}
.userlink {
}
.usersettings {
}
.main-header {
	height: 78px;
	background-color: #fff;
}
.logo {
	    padding-top: 6px;
    width: 186px;
    float: left;
    margin-right: 154px;
}
.inner-mheader {
	position: relative;
	z-index:99;
}

.searchbar {
	float: right;
	background: #fff;
	border: 1px solid #0CA1FE;
	width: 416px;
	height: 34px;
	margin-top: 20px;
	position: relative;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.searchbar input {
	background: none;
	border: none;
}
.searchdrop {
	position: absolute;
	line-height: 22px;
	padding: 26px 2px 0 2px;
	background-color: #fff;
	border: 1px solid #f1f1f1;
	margin-right: 10px;
	border-top: none;
	left: -1px;
	display: none;
	top: 0;
	z-index: 450;
}
.searchdrop li {
	line-height: 22px;
	margin-bottom: 2px;
	cursor: pointer;
	padding: 0 15px 0 10px;
}
.searchdrop li:hover {
	background-color: #F2F2F2;
}
.searchform {
}
.searchbar input.searchinput {
	margin: 2px 0 0 60px;
	border: none;
	height: 18px;
	line-height: 18px;
	padding: 2px 0;
	width: 130px;
	float: left;
}
.searchbar input.submitbtn {
	text-indent: -99999em;
	width: 33px;
	height: 22px;
	border-left: 1px solid #DFDEDE;
	background-position: -137px -87px;
	cursor: pointer;
	float: right;
}
.footer {
	background: #333333;
	margin-top:20px;
	
}
.footer {background: #fff;margin :20px auto 0;}
.inner-footer {
	padding: 20px 0 30px;
	color: #666;
}
.inner-footer {padding:0 0 30px;color: #666;}
.footertop {margin-bottom: 20px;padding: 20px 0; background:#fafafa;}
.footer-up{width:1170px; margin:0 auto;}

.footerlink, .weibowrap, .mobile-client, .sinaweibo, .weichat,.lvyesubweb {
	float: left;
}
.footerlink{padding-left: 110px;}
.sinaweibo .icons, .weichat .icons {
	width: 50px;
	height: 50px;
	margin-bottom: 10px;
}
.sinaweibo .icons {
	background-position: 0 0;
}
.weichat .icons {
	background-position: 0 -60px;
}
.sinaweibo, .weichat {
	width: 72px;
	margin-right: 15px;
	line-height: 20px;
	font-family: microsoft yahei;
	_display: inline;
}
.lvyehd, .lvyeld, .lvyeski, .lvye6f {
	width: 54px;
	height: 54px;
	display: block;
}
.lvyehd {
	background-position: 0 -91px;
}
.lvyeld {
	background-position: 0 -166px;
}
.lvyeski {
	background-position: -74px -92px;
}
.lvye6f {
	background-position: -74px -166px;
}
.footerbt {
}
.footerbt {
	width:1170px;
	margin:0 auto;
}
.copyright {
	margin-bottom: 20px;
	color: #999;
}
.friendlink {
}
.topbar a {
	color: #666;
}
.topnavul {
	float: left;
	height: 28px;
}
.topnavul li {
	float: left;
	position: relative;
	height: 28px;
	z-index: 9999;
}
.topnavul li a {
	display: block;
	padding: 0 15px;
}
.topnavul li:hover {
	background-color: #F0F0F0;
}
.topnavul li:hover a {
	color: #666;
}
.topnavhover a {
	color: #666;
	background-color: #F0F0F0;
}
.topnavhover a:hover {
	background-color: #F0F0F0;
	color: #666;
}
.topnavhover .topnavdrop {
	display: block;
}
.msgnav {
	width: 110px;
	text-align: center;
}
.msgnav dd{
	width:110px!important;
}
.managenav {
	width: 180px;
}
.leadernav {
	width: 192px;
}
.topnavdrop {
	position: absolute;
	top: 28px;
	left: 0;
	padding: 5px;
	background-color: #F0F0F0;
	z-index: 999;
	display: none;
	box-shadow: 0 2px 4px rgba(204,204,204,.64);
	border: 1px solid #DDD;
	border-top: none;
}
.persionalnav {
	width: 192px;
}
.topnavdrop a {
	color: #3E4A48;
}
.topnavdrop dd {
	float: left;
	_display: inline;
	width: 96px;
}
.topnavdrop dd a {
	display: block;
	padding: 0 6px;
	font-size: 12px;
}
.topnavdrop dd a:hover {
	background-color: #44AAFF;
	color: #FFF!important;
}
.hasnewmarker {
	width: 4px;
	font-size: 0;
	height: 4px;
	position: absolute;
	top: 8px;
	right: 8px;
	border: 1px solid #FFF;
	background-color: red;
	zoom: 1;
}
.lihover .navdrop {
	display: block;
}

.mainnav ul li {
	float: left;
	line-height: 60px;
	_display: inline;
	position: relative;
}

.identity a {
	color: #3CB43C;
}
#searchselect {
	margin: 2px 0 0 2px;
	height: 18px;
	line-height: 18px;
	padding: 2px 15px 2px 10px;
	left: 0;
	position: absolute;
	top: 0;
	z-index: 500;
	background: #F2F2F2 url(../img/drop_arrow.png) no-repeat 38px center;
	cursor: pointer;
}
#searchselect {
  margin: 0;
  background: url(../img/down_7-4.png) no-repeat 48px 13px;
  padding: 0;
  width: 60px;
  height: 28px;
  line-height: 28px;
  margin-top: 4px;
  border-right: 1px solid #f1f1f1;
  text-indent: 17px;
  font-family: "simsun"; }
  
.searchbar {
  height: 36px;
  margin-top: 20px;
  width: 416px;
  border-color: #0CA1FE; }

.placeholder {
  position: absolute;
  color: #aaa;
  font-size: 12px;
  top: 10px;
  left: 80px; }

.searchbar input {
  background: none;
  border: none; }

.searchdrop {
  width: 60px;
  padding: 36px 0 0 0; }

.searchdrop li {
  text-indent: 17px;
  line-height: 30px;
  color: #9B9B9B;
  padding: 0;
  font-family: "simsun"; }
  .searchdrop li a {
    color: #9B9B9B; }

.searchdrop li:hover {
  background-color: #F2F2F2; }

.searchbar input.searchinput {
  margin: 2px 0 0 70px;
  border: none;
  height: 30px;
  line-height: 30px;
  padding: 2px 0;
  width: 200px;
  text-indent: 5px;
  float: left; }

.searchbar input.submitbtn {
  width: 60px;
  height: 36px;
  background-color: #069EFF;
  background-image: none !important;
  color: #FFF;
  text-indent: 0;
  font-size: 14px; }
  .searchbar input.submitbtn:hover {
    background-color: #3390DD; }


.placeholder {
  position: absolute;
  color: #aaa;
  font-size: 12px;
  top: 10px;
  left: 80px; }

.searchbar input {
  background: none;
  border: none; }

.searchdrop li {
  text-indent: 17px;
  line-height: 30px;
  color: #9B9B9B;
  padding: 0;
  font-family: "simsun"; }
  .searchdrop li a {
    color: #9B9B9B; }

.searchdrop li:hover {
  background-color: #F2F2F2; }

.searchbar input.searchinput {
  margin: 2px 0 0 70px;
  border: none;
  height: 30px;
  line-height: 30px;
  padding: 2px 0;
  width: 200px;
  text-indent: 5px;
  float: left; }
  
.inner-footer a {
	color: #666;
}
.friendlink a {
	color: #999;
	margin-right: 5px;
	line-height: 18px;
	font-size: 11px;
}
.footerlink dl dt {
	font-family: "microsoft yahei";
	font-size: 14px;
	margin-bottom: 5px;
}
.footerlink dl dt {font-family: "microsoft yahei";font-size: 14px;margin-bottom: 5px;height: 36px;line-height: 36px;padding-left: 54px;position: relative;left: -54px; font-size:18px;}
.footerlink dl dt.dt1{ background:url(../img/aboutus.png) no-repeat left center;}
.footerlink dl dt.dt2{ background:url(../img/helpicon.png) no-repeat left center;}
.footerlink dl dt.dt3{ background:url(../img/toolicon.png) no-repeat left center;}
.footerlink dl dt.dt4{ background:url(../img/guanzhuicon.png) no-repeat left center;}
.footerlink dl .dd4 img{ position:relative; top:-30px;}
.footerlink dl dd {
	line-height: 20px;
}
.footerlink li {
	float: left;
	margin-right: 100px;
	_display: inline;
}
.footerlink li {float: left;margin-right: 144px;_display: inline;}
.footerlink li a:hover {
	color: #47B26E;
}
.weichatpop {
	width: 264px;
}
.lvyesubweb{
	padding-right:75px;
}
.lvyesubweb a{
	display:block;
	background:url(../img/footer_sprite.png) no-repeat;
	width:150px;
	height:57px;
}
.lvyesubweb a.item1{
	background-position:-60px 0;
}
.lvyesubweb a.item2{
	background-position:-60px -60px;
}
.mobile-client ul li {
	float: left;
	margin-right: 30px;
}
.weibowrap{
	padding-right:50px;
}
.mobile-client h4,.weibowrap h4,.lvyesubweb h4{
	font-size: 14px;
	font-family: 'microsoft yahei';
	padding-bottom:10px;
}
.weichat {
	position: relative;
	cursor: pointer;
}
.sinaweibo a,.weichat a{
	display: block;
	color:#FFF;
}
.navdrop a {
	color: #445350!important;
	line-height: 30px;
}
.navdrop a:hover {
	background-color: #3CB43C!important;
	color: #FFF!important;
}
.mainnav ul li:hover a {
	color: #445250;
}
.searchtype {
	font-family: 'microsoft yahei';
}
.weichatqrcode {
	display: block;
	float: left;
}
.weichatwrap {
	position: absolute;
	padding: 20px 20px 0;
	width: 380px;
	top: 0;
	left: 0;
	z-index: 100;
}
.weichatalphabg {
	width: 420px;
	height: 240px;
	background-color: rgba(0,0,0, .5);
	background-color: #000\9;
	position: absolute;
	border: 1px solid #fff;
	*background-color: #000;
	filter: alpha(opacity=60);
	top: 0;
	left: 0;
	z-index: 99;
}
.weichattop {
	height: 220px;
}
.bottomarrow {
	height: 20px;
	width: 380px;
	background: url(../img/poparrow.png) no-repeat center 1px;
}
.qrcodepreview {
	cursor: pointer;
}
.weichatpopup {
	width: 422px;
	height: 260px;
	position: absolute;
	top: -262px;
	display: none;
	left: -90px;
}
.simpleheader {
	border-bottom: 3px solid #445350;
}
.simplenav {
	overflow: hidden;
	float: right;
	line-height: 60px;
	font-family: 'Microsoft yahei';
	font-size: 14px;
}
.simplenav li {
	float: left;
}
.simplenav a {
	color: #fff;
}
.simplenav a:hover {
	color: #c9fb56;
}
.inner-footer .bm {
	border: none;
	background: none;
}
.inner-footer .bm a:hover {
	text-decoration: underline;
}
.inner-footer .bm_c {
	padding: 0;
}
.inner-footer .lk .x li {
	width: auto;
}
.inner-footer .links {
	width: auto;
	border: none;
	padding: 0;
}
.inner-footer .links li {
	padding: 0 2px 0 0;
}
.inner-footer .links li a:hover {
	text-decoration: underline;
}
/* side qrcode styles --------------------------------------- */
/*.side_qrcode{
      width: 118px;
      height: 240px;
      position: fixed;
      bottom: 300px;
      left: 50%;
      margin-left: 485px;
}*/
.dl_tips{
    height: 27px;
    line-height: 26px;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
}
* html .side_qrcode{
	position: absolute;
	top:expression(eval(document.documentElement.scrollTop+200))
}
/* side qrcode styles end --------------------------------------- */

/* highlight new feature styles --------------------------------------- */
.overlay_layer{
	position: fixed;
	_position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color: #445350;
	opacity: 0.8;
	zoom:1;
	filter:alpha(opacity=80);
	z-index:9999;
	_width:100%;
	_height:100%;
}
.remind_box {
	background: url(../img/reminder.png) no-repeat 0 0;
	position: absolute;
	width: 280px;
	height: 230px;
	z-index: 11000;
}
.closereminder_btn {
	width: 102px;
	height: 25px;
	right: 40px;
	bottom:30px;
	position: absolute;
	cursor: pointer;
	z-index: 1001;
	background: url(../img/reminder_close.png) 0 0 no-repeat;
}
.highlihgt_area {
	background-color: #FFF;
	position: absolute;
	z-index: 10000;
}
/* highlight new feature styles end --------------------------------------- */
#bbsquicknav {
	position: fixed;
	margin-left: 606px;
	bottom: 240px;
	left: 50%;
	z-index: 10;
	width:50px;
}
#bbsquicknav a{
	background-color: #48B36F;
	display: block;
}
#bbsquicknav a:hover{
	background-color: #36995A;
}
* html #quicknav {
	position: absolute;
	top: expression(eval(document.documentElement.scrollTop+460));
}
* html #bbsquicknav {
	position: absolute;
	top: expression(eval(document.documentElement.scrollTop+560));
}
.topnavdrop .new {
	padding-left: 0!important;
}
.xi1 {
color: #EE1B2E!important;
}
.newsbox {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #FFF;
	border: 1px solid #445350;
	border-top: none;
	width: 110px;
	padding: 10px 20px 10px 10px;
	z-index: 999;
	color: #445250;
	box-shadow: 2px 2px 3px rgba(68, 82, 80,.3);
}
.close_x {
	width: 20px;
	height: 20px;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	text-align: center;
	line-height: 20px;
	font-family: arial;
}
.newsbox  a{
	color: #FF7F00;
}
.new_msg_div {
	margin-bottom: 10px;
}
.msgnav .new{
	color: #FF0000!important;
}
/* bbs slide menu styles --------------------------------------- */
.breadcrumb li{
	float:left;
}
.slide_menu{
	position:absolute;
	top:29px;
	left:0;
	z-index:50;
	width:730px;
	border:1px solid #48B36F;
	padding:10px 15px;
	line-height:24px;
	font-family:Simsun;
	box-shadow:inset 0 0 10px #48B36F;
	display: none;
	background-color:#FFF;
}
.slide_menu a{
	height:24px!important;
}
.current_block {
	background-color: #EEE;
	color: #46B26C!important;
	text-decoration: none;
}
.gutter{
	padding:0 8px;
}

.breadcrumb{
	padding:0 10px;
	/*border:1px solid #ddd;*/
	background-color: #fff;
}
.breadcrumb a{
	color:#445250;
}
#hover_slidedown{
	position:relative;
}
.block_dl dt{
	float:left;
	width:70px;
	color:#445250;
	font-size:13px;
	font-weight:700;
	text-align:left;
}
.block_dl dd{
	float:left;
	width:620px;
}
.block_dl{
	border-bottom:1px dashed #79796A;
	margin-bottom:5px;
	padding-bottom:5px;
}
.last_blockdl{
	border:none;
	margin:0;
	padding:0;
}
.block_dl dd a {
	color: #79796A;
	padding:0 10px;
	display:block;
	float: left;
	margin-right: 10px;
}
.block_dl dd a:hover{
	background-color:#EEE;
	color:#46B26C;
	text-decoration:none;
}

.current_bread .slide_sign{
	background-image:url(../img/slide_sign.jpg);
	background-repeat:no-repeat;
	background-position:113px 12px;
	cursor:pointer;
	float:left;
}
.slide_sign a,.slide_sign span{
	float:none!important;
}
#scbar {
	width:100%;
}
/* bbs slide menu styles end --------------------------------------- */
/*å…¬å…±å¤´*/
.topnavul li a{color:#666;}
.down_app{width:136px;height:44px;background:url(../img/down_phone.png) no-repeat left center;float:right;padding:4px 0 0 62px;margin-top: 14px;}
.down_app span{color:#666;font-size:14px;display:block;margin-bottom:6px;}
.down_app a{font-size:12px;color:#ccc;}
.down_app a:hover{color:#ff7800;}
.down_app a.ar{margin-left:16px;}

nav{height:40px;background:#3cb43c;}
.mainnav {min-width: 1200px;}
.mainnav ul {font-size: 16px;font-family: "microsoft yahei";width: 1170px;margin: 0 auto;}
.mainnav ul li {float: left;line-height:40px;_display: inline;position: relative;text-align:center;}
.mainnav ul li.li1{width:125px;background:#319630;}
.mainnav ul li a {color: #fff;display: block;padding:0 22px;}
.mainnav ul li a:hover {background-color: #319630;color: #fff;}
.mainnav ul li:hover a {color: #fff;}
.mainnav ul li em{display:block; width:24px; height:16px; background:url(../img/new_icon.png) no-repeat center top; position:absolute;top:0; right:4px;}


/*公司介绍*/
.gsjs_content{ width:1170px; font-family:"微软雅黑"; margin:33px auto 0;} 
.gsjs_content ul{width:100%; border-bottom:1px solid #1766b0; height:40px;  }
.gsjs_content ul li{ width:130px; height:40px; line-height:40px; font-size:18px; text-align:center; border:1px solid #1766b0; border-bottom:none; float:left; margin-right:10px;}
.gsjs_content ul li a{ color:#000;}
.gsjs_content ul li.gsjs_content_nav_on{ background:#1766b0;}
.gsjs_content ul li.gsjs_content_nav_on a{ color:#FFF;}
.introduce_cont{ display:none;}
.gsjs_content h1{ display:block; border-left:8px solid #3390dd; height:45px; font-size:43px; line-height:45px; font-weight:normal; color:#000; padding-left:20px; margin:52px 0 45px;}
.gsjs_content p{ font-size:16px; line-height:36px; text-transform:uppercase; color:#656262;}
.gsjs_content p span{ color:#3d3a3a;}
.gsjs_content p img { display: inline-block; width:280px; height:185px; margin:100px 12px 100px 0 ; }
/*会员分享*/
.hdfx_content{ width:1170px; font-family:"微软雅黑"; margin:25px auto 40px;}
.hdfx_content h2{ border-bottom:2px solid #cccccc; height:41px; margin-bottom:30px;}
.hdfx_content h2 span{ font-size:18px; font-weight:normal; color:#56b3fd; display:block; background:url(../img/bg_hd.png) no-repeat bottom center; width:104px; height:34px; line-height:34px; padding-bottom:9px; text-align:center; float:left;}
.hdfx_content h2 a{ float:right;display:block;}
.hdfx_content h2 a button{width:140px; height:35px; line-height:35px; background:#ff9d00; border:none; font-size:16px;color:#FFF; border-radius:5px; cursor:pointer; }
.hdfx_content h2 a button img{ margin:10px 7px 0 26px;display:block; float:left;}
.hdfx_content h2 a button b{ float:left; font-weight:normal;}
.hdfx_content .share_content li{ width:100%; margin-bottom:30px; height:150px;}
.hdfx_content .share_content li img{ display:block; float:left; margin-right:27px; width:220px; height:150px;}
.share_cont{display:block; float:left; width:920px;}
.share_cont h3{font-size:16px; font-weight:normal; color:#000; margin:5px 0; }
.share_cont p{ font-size:14px; line-height:25px; color:#666666; margin-bottom:20px;}
.share_icon{ display:block;color:#3c3a3a !important;}
.share_icon span{ display:inline-block;font-size:12px; background:url(../img/icon_02.png) no-repeat left; padding-left:20px;color:#3c3a3a !important; }
.share_icon b{display:inline-block; font-size:12px; color:#ff9d00; width: auto; height:18px;margin-right:15px; font-weight:normal;}
.share_icon b img{ width:16px !important; height:18px !important;margin:0 7px !important;}
.share_icon i{display:inline-block; font-style:normal; background:url(../img/icon_04.png) no-repeat left; padding-left:25px; color:#aaaaaa;}
.fy{ margin:50px auto 0; text-align:center; width:460px;height:30px;}
.fy li{ float:left; color:#999999; font-size:12px; margin:0 2px;}
.fy li a{ color:#666666; display:block; padding: 7px 10px; border-radius:6px;}
.fy li a:hover,.fy li.fy_on a{ background:#ff9d00; color:#FFF;}
/*积分商城*/
.jfsc_content{width:1170px; font-family:"微软雅黑"; margin:15px auto 40px;}
.integral{ display:block; float:left; width:850px; height:350px;} 
.integral_right{ float:right; width:304px; height:350px; border:1px solid #ececec;}
.login_btn{ width:240px; height:50px; border-radius:2px; background:#7fbe23; color:#ffffff; text-align:center; font-size:17px; line-height:50px;border:none; margin:61px auto 35px;display:block;}
.register_btn{ width:240px; height:50px; border-radius:2px; background:#f74140; color:#ffffff;text-align:center; font-size:17px; line-height:50px; border:none; margin:0 auto 50px;display:block;}
.integral_right img{ display:block; margin:0 auto;}
/*积分商城——登录后*/
.jfsc_content ul{ padding-top:10px;}
.jfsc_content ul li{ width:278px; border:1px solid #e9e9e9; float:left; margin:0 6px 13px;}
.jfsc_content ul li img{ width:278px; height:196px;}
.jfsc_info h6{ font-size:13px; font-weight:normal; color:#333; margin:13px 14px 3px;}
.synopsis{ font-size:12px; color:#666;height:15px;padding:0 14px;}
.synopsis p{ float:left;}
.synopsis span{ float:right;}
.synopsis span b{ color:#ff5157; font-weight:normal;}
.synopsis_jf{ clear:both; font-size:12px; color: #999; border-top:1px solid #f6f9fa; padding:0 14px; height:40px; line-height:40px; margin-top:10px;}
.synopsis_jf p{ float:left;}
.synopsis_jf p b{color:#ff6535; font-size:14px; font-weight:normal; margin-left:5px;}
.synopsis_jf a { float:right; color:#ff5157;}
/*联系我们*/
.lxwm_content{width:1170px; font-family:"微软雅黑"; margin:56px auto 0px;}
.lxwm_content h1{ display:block; border-left:8px solid #3390dd; height:45px; font-size:43px; line-height:45px; font-weight:normal; color:#000; padding-left:20px; margin:0px 0 54px;}
.lxwm_left{ width:580px; float:left;}
.lxwm_left h4,.lxwm_right h4{ font-size:18px; color:#000; width:100%; height:23px; line-height:23px; margin-bottom:3px;}
.lxwm_left h4 img,.lxwm_right h4 img{ margin-right:5px; display:block; float:left;}
.lxwm_left p{ font-size:14px; color:#393836; line-height:30px; margin-bottom:55px;}
.lxwm_left p img{ display:inline-block !important; }
.lxwm_left p b,.lxwm_left p span{ color:#c8994e;}
.lxwm_left p i{ font-style:normal; color:#292828;}
.lxwm_right{width:585px; float: right;}
.lxwm_right p{font-size:14px; color:#393836; line-height:30px;}
.lxwm_right span{ display:inline-block; border:1px solid #cecdcd; text-align:center; margin-top:20px;}
.lxwm_right span img{ padding:11px 16px 0;}
.lxwm_right span b{ font-weight:normal; color:#000000; font-size:20px; line-height:30px;}

/*vip尊享*/
.searchBox {
    width: 1170px;
    height: 100px; margin:15px auto 20px;
 
}
.innerSearch {
    height: 100px;
}
.wrapper {
    width:100%;
    margin: 0 auto;
}
.fn-pr {
    position: relative;
}
.fhdLogo {
    width: 110px;
    height: 50px;
    margin-top: 20px;
    margin-left: 45px;
    background: url(../img/icon_011.png) no-repeat;
}
.fll {
    float: left;
}
.searchArea {
    position: relative;
    float: left;
    height: 60px;
    margin-top: 14px;
    margin-left: 35px;
    background: #44aaff url(../img/site.png) 20px center no-repeat;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
}

.s_place {
    margin-left: 70px;
    border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
}

.sfliter {
    float: left;
    display: inline-block;
    height: 40px;
    background: #fff;
    margin-top: 10px;
}
.fn-pr {
    position: relative;
}
.sfliter .f {
    float: left;
    display: inline-block;
    padding: 0 15px;
    line-height: 40px;
}
.sfliter .f .p {
    font-size: 20px;
    color: #595757;
}
.sfliter .f span {
    color: #b4b5b5;
}
.sfliter .arrow {
    float: right;
    display: inline-block;
    width: 30px;
    height: 40px;
    background: #9ecbdd url(../img/arrow.png) center center no-repeat;
    cursor: pointer;
}
.s_place .fresult {
    width: 430px;
}
.fresult {
    position: absolute;
    top: 40px;
    left: 0;
    padding: 15px;
    border: 1px solid #9ecbdd;
    background: #fff;
    display: none;
    z-index: 9999;
}

.fresult p {
    cursor: pointer; font-size:14px;
}


.fresult .hotCity {
    border-bottom: 1px dotted #6fc6cf;
}

.s_type .fresult {
    width: 99px;
}

.search_bar {
    float: left;
}
input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
#searchKeyword {
    width: 353px;
    height: 20px;
    float: left;
    padding-left: 10px;
    padding: 10px 0 10px 15px;
    border-radius: 0 5px 5px 0;
    border-right-width: 0;
    background-color: #fff;
    border: none;
    margin-top: 10px;
    font-family: 'simsun';
    font-size: 12px;
}
input, textarea, select {
}
input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.hotkeywords label {
    float: left;
    margin-left: 20px;
    color: #b4b5b5;
}

label {
    cursor: default;
}
.hotkeywords {
    left: 50%;
    margin-left: -270px;
    bottom: 7px;
    width: 50%;
    font-size: 12px;
    font-family: 'simsun';
}
#submit-btn {
    line-height: 60px;
    margin-left: 22px;
    margin-right: 25px;
    font-size: 24px;
    color: #fff;
    border: none;
    background: none;
    cursor: pointer;
}
.fresult {
    position: absolute;
    top: 40px;
    left: 0;
    padding: 15px;
    border: 1px solid #9edda2;
    background: #fff;
    display: none;
    z-index: 9999;
}
.allCity .ac_tab {
    margin-top: 15px;
}
.allCity .ac_tab li.on {
    background: #f97700;
}
.allCity .ac_tab li {
    padding: 1px 13px;
    background: #dcdcdc;
    color: #fff; font-size:14px;
}
.fresult li {
    float: left;
    cursor: pointer;
	 margin: 10px 17px 10px 0;
}
.fresult li a{color: #5D5D5D; font-size:13px;}
.fresult li:hover a{ color:#f97700;}
.ac_box {
    margin-top: 5px;
	
}
.ac_box dl {
    margin-top: 10px;
    font-size: 13px;
}
.ac_box dt {
    font-size: 14px;
    width: 30px;
    color: #f97700;
}
.ac_box dd {
    width: 368px;
}
.ac_box dd a {
    margin-right: 12px;
    line-height: 18px;
	color: #5D5D5D;
}
.ac_box dd a:hover{color: #f97700;}
.ac_box dl, .ac_box dt, .ac_box dd {
    float: left;
}
.s_type .fresult {
    width: 99px;
}
.fresult {
    position: absolute;
    top: 40px;
    left: 0;
    padding: 15px;
    border: 1px solid #9ecbdd;
    background: #fff;
    display: none;
    z-index: 9999;
}
.hotkeywords {
    left: 50%;
    margin-left: -270px;
    bottom: 7px;
    width: 50%;
    font-size: 12px;
    font-family: 'simsun';
}
.fn-pa {
    position: absolute;
}
.hotkeywords label {
    float: left;
    margin-left: 20px;
    color: #b4b5b5;
}
label {
    cursor: default; font-size:13px;
}

.hotkeywords li {
    float: left;
    margin-left: 10px;
}

.hotkeywords li a {
    color: #44aaff;
}

/*small_banner 开始*/
.slide_container{ width: 1170px;
  margin:0 auto;}
.rslides {
  position: relative;
  overflow: hidden;
  width: 1170px;
  margin:0 auto;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
.slide_container {
  margin-bottom: 25px;
  position: relative;
  }

.slide {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.slide li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  }
  
 .slide img {
  display: block;
  position: relative;
  z-index: 1;
  height: auto;
  width: 100%;
  border: 0;
  }

.slide .caption {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 24px;
  text-shadow: none;
  color: #fff;
  background: #000;
  opacity:0.7;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  width:100%;
  font-family:"微软雅黑";
  height:53px; line-height:53px; padding-left:20px;
  }
  
 .slide_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 52%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("../img/themes.gif") no-repeat left top;
  margin-top: -45px;
  }

.slide_nav:active {
  opacity: 1.0;
  }

.slide_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }
/*small_banner 结束*/
.activity_content{ width:1170px; margin:0 auto;}
.tLeft{ float:left;width:870px;}
.tLeft .tjIcon {
    background-position: 0 0;
    color: #50aaff;
    border-bottom: 2px solid #50aaff;
	width:870px; margin-bottom:20px;
}
.tLeft h3 {
    font-size: 20px;
    line-height: 34px; font-weight:normal;
    background: url(../img/hicon.png) no-repeat;
    text-indent: 52px;
}
.hdList-p li{ float:left; width:195px; background:#fafafa; margin-right:30px; margin-bottom:30px;}
.hdList-p li .d{
	height: 70px;
    padding: 10px;
    font-size: 12px;
    font-family: 'simsun';}
.hdList-p li .d a{color: #5D5D5D;}
.hdList-p li .d .i{ margin-top:15px;}
.hdList-p li .d .i .na{ float:left;}
.hdList-p li .d .i .ti{ float: right;}
.tRight{ float:right; margin-top:40px;}

/*活动召集*/
.hdzj_content{  width:1170px; margin:0 auto;}
.hdzj_content h2{ border-bottom:2px solid #cccccc; height:41px; margin-bottom:30px; clear:both;}
.hdzj_content h2 span{ font-size:18px; font-weight:normal; color:#56b3fd; display:block; background:url(../img/bg_hd.png) no-repeat bottom center; width:104px; height:34px; line-height:34px; padding-bottom:9px; text-align:center; float:left;}
.word{ clear:both;}
.word ul li{font-size: 18px; line-height: 45px; height:45px; padding-left:15px; background:url(../img/li.png) no-repeat left;}
.word ul li a{color: #666;}  
.word ul li:hover a{color: #ff7800;}   
.word ul li a b{ display:block; float:left;font-weight:normal;}
.word ul li span{display:block; float:right;}

/*活动召集——详情页*/
.border_outside{ clear:both; width:1200px; margin:0 auto;}
.intro-info p{ font-family:"宋体"; font-size:14px; line-height:40px; color:#352215;}
.intro-info h5{ font-family:"宋体"; font-weight:bold; border-bottom:none;color:#352215; margin-top:20px;}
/*会员专区*/

.hyzq_content{ position:relative; z-index:100 !important; clear:both;width:1170px; font-family:"微软雅黑";margin:-79px auto 0px;}
.hyzq_content .data{z-index:101 !important; background:#0151a0; height:230px;}
.hyzq_content .data .hyaq_nav{width:1170px; background: url(../img/nav_bg.jpg) repeat-x; height:79px; line-height:79px; z-index:110 !important; }
.hyaq_nav ul{ margin:0 auto; width:925px;} 
.hyaq_nav ul li{ font-size:24px; font-weight:bold; font-family:"黑体"; float:left; margin:0 25px;}
.hyaq_nav ul li a{ color:#FFF;}
.hyzq_content .data .data_left{ margin:20px 0 0 27px; float:left; width:330px;}
.data_haed{ border:3px solid #FFF; float:left; display:block; margin-right:18px;}
.data_data{ float:left;}
.data_data h4{ font-size:18px; font-weight:normal; color:#FFF; margin:3px 0px;}
.data_data h4 small a{ font-family:"宋体"; font-size:14px; color:#aacf05; margin-left:5px;}
.data_data ul li{ font-size:14px; line-height:27px; color:#FFF; height:27px; padding-left:30px; }
.hyzq_content .data .data_right{float: right; width:248px; margin:21px 15px 0 0; }
.data_btn_01{ cursor:pointer; background:url(../img/btn.png) no-repeat; width:238px; height:76px; border:none; display:block;}
.data_btn_02{ cursor:pointer; width:70px; height:25px; border:1px solid #ffffff; border-radius:2px; background:#7bc631; color:#ffffff; font-size:14px; line-height:23px; text-align:center; margin:7px 10px 0 0;}

.calendar{width:1170px;}
.calendar h2{ font-size:30px; color:#035096; line-height:30px; margin:20px 0 8px;}
.calendar h2 small{display:block; color:#c5d707; font-size:14px; text-transform:uppercase;}
/*日历开始*/
#wrap{width:1170px;margin:0px auto;border:solid 1px #d2d2d2; height:130px !important;}
#kalendar{width:1170px;margin:0 auto; height:130px !important;}
/* 选择年月 的行 */
#kalendar tr#select{height:33px;background:#004c96; font-size:15px;}
#kalendar tr#select td{clear:both;}
#kalendar tr#select td div{float:left;width:160px;height:30px;line-height:30px;}
#kalendar tr#select #year,#kalendar tr#select #month{width:135px;padding-left:20px;}
#select #year ul,#select #month ul{clear:both;}
#select #year ul li,#select #month ul li{float:left;width:30px;}
#select #year ul li input,#select #month ul li input{width:30px;text-align:30px;cursor:pointer; background:none; color:#FFF; font-weight:bold; border:none;}
#select #year ul li.selectChange,#select #month ul li.selectChange{width:70px;height:10px;}
#select #year ul li.selectChange select,#select #month ul li.selectChange select{width:70px;padding-left:2px;cursor:pointer; background:none; color:#FFF; border:none; outline:none;}
#select #year ul li.selectChange select option,#select #month ul li.selectChange select option{padding-left:5px; background:#004c96;}

/* 星期表头 的行 */
#kalendar tr#week{height:50px; display:none;}
#kalendar tr#week td ul{width:574px;clear:both;}
#kalendar tr#week td ul li{float:left;width:80px;height:50px;line-height:50px;text-align:center;margin:0 1px;background:#9999CC;}

/* 某月具体日期 的每一行 */
#kalendar tr#day ul.dayList{width:574px;height:50px;clear:both;margin:2px auto;}
#kalendar tr#day ul.dayList li{float:left;width:80px;height:50px;line-height:50px;text-align:center;margin:0 1px;background:#eee;cursor:pointer;}
/* 日期占用行数(4-6行)，将不需要显示的行隐藏 */
#kalendar tr#day ul.hide{display:none;}
/* 周末 的特殊样式 */
#week .weekend,#day .weekend{color:#EA0000;}

/* 下面几个样式注意顺序，选择器不能简写，否则日历中 今天 的样式会被鼠标滑过的样式替换 */
/* 鼠标经过某个日期 的特殊样式 */
#kalendar tr#day td ul.dayList li.mouseFloat{background:#FFDCB9;}
/* 当天是周末 的特殊样式 */
#kalendar tr#day td ul.dayList li.todayWeekend{color:#EA0000;background:#abcdef;font-weight:700;}
/* 当天 的特殊样式 */
#kalendar tr#day td ul.dayList li.today{background:#abcdef;font-weight:700;}

#kalendar tr#day{ height:108px;}
#kalendar tr#day td li{ list-style:none; float:left; width:40px; height:37px; line-height:37px; text-align:center; font-size:18px; color:#5a5a5a !important; margin:5px 9px;}
.day_top{ border-bottom:1px solid #d2d2d2;}
.today{background:#e67e95;}
.weekend{background:#7fd0fb;}
.todayWeekend{ background:#aacf05;}
/*日历结束*/
.calendar .xia_icon{ height:16px; float:right; margin:10px 0;}
.calendar .xia_icon li{ font-size:14px; color:#090808; margin-left:15px; height:16px; line-height:16px; float:left;}
.calendar .xia_icon li img{ display:inline-block; margin-right:10px;}
.calendar .xia_icon li b{ display:inline-block; width:16px; height:16px; border-radius:50%; margin-right:10px;}
.account{width:1170px;}
.account h2{ font-size:30px; color:#035096; line-height:30px; margin:20px 0 8px;}
.account h2 small{display:block; color:#c5d707; font-size:14px; text-transform:uppercase;}
.account_cont{}
.situation{ width:137px; background:#004f94; border-top-left-radius:10px;border-bottom-left-radius:10px; float:left;} 
.situation li{ width:137px; height:190px; text-align:center; padding-top:46px; height:140px;}
.situation li h3{ font-size:20px; color:#f2f7fb; line-height:23px; text-align:center; margin:0px auto 15px;}
.situation li h3 small{ font-size:10px; display:block;}
.situation li img{ display:block; margin:0 auto;}
.classify{ background:#f2f7fb; width:132px; float:left;border-right:1px dashed #bfb5b4;}
.classify li{ font-size:20px; color:#005099; text-align:center;border-bottom:1px dashed #bfb5b4; height:61px; line-height:61px;}
.quantity{ background:#f2f7fb; width:900px; float:left;border-top-right-radius:10px;border-bottom-right-radius:10px;}
.quantity li{font-size:18px; color:#005099;border-bottom:1px dashed #bfb5b4; height:61px; line-height:61px; padding-left:43px;}
.quantity li input{ width:114px; height:38px; line-height:38px; color: #FFF; font-size:18px; background:#f1780d; text-align:center; border:none;border-radius:5px; margin-left:615px; cursor:pointer;}
.tribe{width:1170px;}
.tribe h2{font-size:30px; color:#035096; line-height:30px; margin:20px 0 8px;}
.tribe h2 small{display:block; color:#c5d707; font-size:14px; text-transform:uppercase;}
.tribe_cont h3{ height:37px; line-height:37px; background:#005099; font-size:18px; padding-left:10px; color:#FFF;}
.tribe_cont table{ border-left:1px solid #dcdcdc; font-family:"宋体";font-size:14px;}
.tribe_cont table tr td{border-right:1px solid #dcdcdc;border-bottom:1px solid #dcdcdc; color:#6e6a6a; line-height:34px; }
.tribe_table_title{ background:#c7e3fd; font-weight:bold; }
.tribe_table_title td{ text-align:center; color:#000 !important;}
.tribe_cont table tr td span{ margin:0 14px;}
.tribe_table_top{ background:#fcfff4;}
.tribe_table_bottom{ background:#f4fbff;}
.tribe_cont table tr td img{ display:block; margin-left:315px; margin-top:13px;}
.tribe_cont table tr td b{ font-size:14px; color:#005099; font-weight:normal; font-family:"微软雅黑"; margin-left:287px;}
.tribe_cont table tr td i{ font-style:normal; display:block;}
.activity{width:1170px;}
.activity h2{font-size:30px; color:#035096; line-height:30px; margin:20px 0 8px;}
.activity h2 small{display:block; color:#c5d707; font-size:14px; text-transform:uppercase;}
.activity table{font-family:"宋体";font-size:14px; text-align:center;}
.activity table tr{ height:28px;line-height:28px; color:#000000;}
.activity_title{ height:43px !important; line-height:43px; border:1px solid #f0efef; background:#005099; font-weight:bold; color:#FFF !important;}
.activity table tr td a{color:#0a85f5;}
.gray{ background:#f0efef;}
.points{width:1204px;}
.points h2{font-size:30px; color:#035096; line-height:30px; margin:20px 0 8px;}
.points h2 small{display:block; color:#c5d707; font-size:14px; text-transform:uppercase;}
.points ul li{ width:268px; height:82px; border-radius:3px; float:left; line-height:82px; margin-right:33px;}
.points ul li a{ font-size:24px; font-weight:bold; color:#FFF;  display:block;height:82px; line-height:82px; margin-left:40px; padding-left:73px;}
.mail{width:1170px;}
.mail h2{font-size:30px; color:#035096; line-height:30px; margin:20px 0 8px;}
.mail h2 small{display:block; color:#c5d707; font-size:14px; text-transform:uppercase; margin-left:31px;}
.mail h2 small a{ font-size:14px; color:#514d4d; margin-left:1023px; font-weight:normal;}
.mail table{font-family:"宋体";font-size:12px;border-left:1px solid #f0efef;border-right:1px solid #f0efef;}
.mail table tr{ height:34px;line-height:34px;border-bottom:1px solid #f0efef; }
.mail_title{font-size:14px; height:43px !important; line-height:43px; border:1px solid #f0efef; background:#005099; font-weight:bold; color:#FFF !important;}
.mail table tr td{ padding-left:18px;}
.mail table tr td span{ background:url(../img/icon_022.png) no-repeat left center; padding-left:23px;}
.mail table tr td i{ font-style:normal; background:url(../img/icon_023.png) no-repeat left center; padding-left:23px;}
.share{width:1170px; margin-bottom:20px;}
.share h2{font-size:30px; color:#035096; line-height:30px; margin:20px 0 8px;}
.share h2 small{display:block; color:#c5d707; font-size:14px; text-transform:uppercase;}
.share table{font-family:"宋体";font-size:12px;border-left:1px solid #f0efef;border-right:1px solid #f0efef; border-top:1px solid #f0efef;}
.share table tr{ height:96px;border-bottom:1px solid #f0efef; }
.share_title{font-size:12px; height:32px !important; line-height:32px; border:1px solid #f0efef; background:#005099; color:#FFF !important;}
.share table tr td img{ float:left; margin:0px 11px 0 52px;}
.share_table_info{ float:left;}
.share_table_info h6{ display:block; color:#000; font-weight:normal; line-height:25px;}
.share_table_info p{ color:#b0b0b0;}
.share_table_info p b{ margin:0 13px;background:url(../img/icon_024.png) no-repeat left center; display:inline-block; width: auto; padding-left:20px; font-weight:normal;}
.share_table_info p i{ margin-right:13px; font-style:normal; background: url(../img/icon_04.png) no-repeat left center;display:inline-block; width: auto;padding-left:25px;}
.share_table_info p em{font-style:normal; background:url(../img/icon_025.png) no-repeat left center;display:inline-block;  width: auto; padding-left:20px;}
.share table tr td strong{ color:#ff6600; font-size:13px; font-family:"微软雅黑";}
.share table tr td a{ display:block; color:#0088cc; line-height:22px;}

